
@model Bootstrap.Models.PersonModel
@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/angular")

<div class="jumbotron row">
    <div class="col-md-6">
        <h2>Manage account</h2>

        <h3>Balance: @Model.Balance</h3>
        <h3>Availible Balance: @Model.Balance</h3>


        <div class="btn btn-default btn-lg" data-toggle="modal" data-target="#withdrawModal">Withdraw</div>
        <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#depositModal">Deposit</button>
        <button class="btn btn-default btn-lg">Money Transfer</button>

    </div>
    <div class="col-md-6">
        <h2>History</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Ammount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.History)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Type</td>
                        <td>£ @item.Ammount</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div ng-app="BankApp" ng-controller="transactionsController as vm">
    <div id="transactionContainer" class="col-md-12">
        <div ng-click="hide = !hide" id="transactions{{$index}}" class="col-md-4 panel panel-warning" ng-repeat="transaction in model" ng-hide="hide">
            <div class="panel-body"  >
                <h3>
                    {{transaction.Type}}
                </h3>
                Date: {{transaction.Date | jsonDate}}
                <br />
                Ammount: {{transaction.Ammount}}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="depositModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deposit</h4>
            </div>
            <div class="modal-body">
                <p>How much money do you wish to deposit?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-lg">@Html.ActionLink("Deposit", "Deposit", "Bank")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="withdrawModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Deposit</h4>
            </div>
            <div class="modal-body">
                <p>How much money do you wish to Withdraw?</p>


            </div>
            <div class="modal-footer">

                <div class="btn btn-default btn-lg">@Html.ActionLink("Withdraw", "Withdraw", "Bank")</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>